body{
    display: flex;
    flex-direction: column;
}
header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=354&q=80');
}

header ul {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 5vw;
}

header ul li a img {
    width: 30vw!important;
    grid-column-start: 1;
    grid-column-end: 2;
}

header ul nav {
    display: none;
}

#hamburgerMenu ul nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100vw;
}

#hamburgerMenu ul nav li {
    margin-bottom: 5vh;
}

#hamburgerMenu ul nav li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

#hamburgerMenu {
    background-color: rgb(31, 31, 31);
    height: 85vh;
}

#hamburgerBtn {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    grid-column-start: 3;
    grid-column-end: 4;
}

#hamburgerBtn img {
    width: 13vw;
}

header h1 {
    font-size: 2.5em;
    padding: 9vh 5vw 23vh 10vw;
    text-align: center;
}

header span {
    font-weight: bold;
}

.arrow {
    display: block;
    text-align: center;
    padding-top: 15vh;
}

.arrow img {
    width: 20vw;
}

#mainID h1 {
    font-size: 2em;
    padding: 5vw;
    text-align: center;
}

#topPicks section, #toSaved section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 5vw;
    border: 1px black solid;
}

#addIcon {
    display: none;
}

#topPicks section:hover {
    opacity: 50%;
}

#topPicks section img, #toSaved section img {
    width: 80vw;
    margin: 4vw;
}

#topPicks section div, #toSaved section div {
    padding: 5vw 2vw;
}

#topPicks section div>*, #toSaved section div>* {
    padding-bottom: 1.5vh;
    text-align: center;
}

#topPicks section div h2, #toSaved section div h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#topPicks section div h3, #toSaved section div h3 {
    font-size: 1em;
    text-align: center;
}

#topPicks section div p, #toSaved section div p {
    font-size: 0.8em;
    text-align: center;
}

#toSearch div {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 10vw 0vh 10vw;
}

#toSearch div a {
    margin-top: 10vh;
    padding: 5vw;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: gray;
}

#toSavedArrow {
    height: 10vh;
    display: block;
    text-align: center;
}

#toSavedArrow img {
    width: 20vw;
}

#toSaved {
    height: 100vh;
}

#toSaved a {
    text-decoration: none;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 5vw;
    height: 5vh;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    background-color: rgb(0, 0, 0);
}


/* search page */

#mainIDSearch {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>*{
    padding: 2vw;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form input[type = text]{
    width: 80vw;
    height: 5vh;
    border-radius: 10px;
}

form button{
    font-size: 1em;
    border-radius: 15px;
    width: 60vw;
    height: 7vh;
}

/*result page*/

#resultDiv{

    margin:0px;
    font-family:'Roboto';
    text-align:center;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}

#resultDiv img{
    height: 300px;
    width: 300px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    box-shadow: 0px 0px 40px 40px #000000;

    
}

#resultDiv div {
     padding: 45px;
     margin-left: 15px;
     display: grid;
     grid-template-columns: repeat(2, 4fr);
     grid-template-rows: repeat(8, 5vw);
     grid-gap: 5px;
}
#resultDiv div h2 , #resultDiv div h3 ,#resultDiv div h4 ,#resultDiv div h5 ,#resultDiv div h6  {
    clear: both;
    text-align: center;
    margin-left: 14vw;
}

#resultDiv div h2 span, #resultDiv div h3 span,#resultDiv div h4 span,#resultDiv div h5 span,#resultDiv div h6 span {
    font-size: x-large;
}

/***************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

header {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:rgb(0, 0, 0);
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position: absolute;;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a70;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}



/***************************************/

/* search page------------------------------------------------ */

/* Desktop */

@media (min-width: 1025px) {
    header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul nav li {
        padding-right: 2vw;
    }
    header ul nav li a {
        text-decoration: none;
        color: black;
    }
    .arrow img, #toSavedArrow img {
        width: 8vw;
    }
    header h1 {
        padding-top: 15vh;
        padding-bottom: 5vh;
    }
    header ul li a img {
        width: 8vw!important;
    }
    header ul nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #hamburgerMenu, #hamburgerBtn {
        display: none;
    }
    #topPicks {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-evenly;
    }
    #topPicks section, #toSaved section {
        width: 30vw;
        margin: 1vw;
        border: 1px black solid;
    }
    #topPicks section:hover {
        opacity: 50%;
    }
    #topPicks section img, #toSaved section img {
        width: 30vw;
        margin: 0px;
    }
    #topPicks section div, #toSaved section div {
        padding: 3vw 1vw;
    }
    #topPicks section div>*, #toSaved section div>* {
        padding-bottom: 1.5vh;
        text-align: center;
    }
    #topPicks section div h2, #toSaved section div h2 {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }
    #topPicks section div h3, #toSaved section div h3 {
        font-size: 1em;
        text-align: center;
    }
    #topPicks section div p, #toSaved section div p {
        font-size: 0.8em;
        text-align: center;
    }
    #toSearch div {
        height: 80vh;
    }
    #toSearch div a {
        width: 20vw;
        height: 10vh;
        margin: 0px;
        padding: 0px;
        font-size: 1.5em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #toSaved {
        display: flex;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 90vh;
        justify-content: space-evenly;
    }
    #toSaved a {
        width: 20vw;
        height: 10vh;
        margin: 0px;
        padding: 0px;
        font-size: 1.5em;
        border-radius: 10px;
    }
    #toSaved1 img {
        padding: 0px;
        margin: 0px;
    }
    footer {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f5f5f5;
        background-color: rgb(0, 0, 0);
        margin-top: 5vh;
    }
}