#rightFooter ul li a {
    color: #b25274;
}

#rightFooter ul li {
	padding-bottom: 1vh;
}


#topPicks section img{
    width: 90vw;
    height: 30vh;
}
#topPicks section{  
    width: 90vw;
    height: 61vh;
    overflow: hidden;
}
#topPicks section div{
    padding: 5vw 0vw;
    color: #40745C;
}
#topPicks section button {
    width: 80vw;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    padding: 1vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
#button{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 5vw;
    border: 1px black solid;
}
.formButton{
    width: 20vw;
    text-align: center;
    margin: 0 auto;
}
.editBtn{
    font-size: 1em;
    border-radius: 15px;
    width: 60vw;
    height: 4vh;
    color: #FFFFFF;
    margin: 2% 20%;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.editBtn:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
form button{
    font-size: 1em;
    border-radius: 15px;
    width: 60vw;
    height: 4vh;
    color: #FFFFFF;
    margin: 2% 20%;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
#topPicks section button:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
form button:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
.updateForm{
    text-align: center;
    margin: 0 auto;
    height: 70vh;
}
.updateForm textarea{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 80vw;
    margin-bottom: 1vh;
}
.updateForm input{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 80vw;
    margin-bottom: 1vh;
}
.updateForm select{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 80vw;
    margin-bottom: 2%;
}
@media (min-width: 1025px) {
#topPicks section img{
    width: 30vw;
    margin: 0vw;
    height: 50vh;
}
#topPicks button{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    border: 1px black solid;
}
#topPicks section {
    width: 30vw;
    height: 78vh;
    overflow: hidden;
}
#button{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 5vw;
    border: 1px black solid;
}
.formButton{
    width: 20vw;
    text-align: center;
    margin: 0 auto;
}
.editBtn{
    font-size: 1em;
    border-radius: 15px;
    width: 60vw;
    height: 4vh;
    color: #FFFFFF;
    margin: 2% 20%;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.editBtn:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
.updateForm{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}
.updateForm textarea{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 28vw;
}
form input[type = text] {
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 28vw;
}
.updateForm select{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 15px;
    width: 28vw;
    margin-bottom: 2%;
}
.topPicks div {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
}
#resultDiv div h2, #resultDiv div h3, #resultDiv div h4, #resultDiv div h5, #resultDiv div h6 {
    clear: both;
    text-align: center;
    margin-left: 0vw;
}
#resultDiv div {
    padding: 45px;
    margin-left: 0px;
}
#topPicks section div {
    padding: 2vw;
}
#topPicks section button {
    width: 80vw;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    padding: 1vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
#topPicks section div section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}
#topPicks section button:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
form button:hover {
    color: #FFFFFF;
    background-color: #8BC186;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.73);
    transform: translateY(-7px);
}
#topPicks form button:hover, #topPicks div button:hover {
    color: #FFFFFF;
    background-color: #B25274;
    box-shadow: 0px 15px 20px rgba(5, 61, 52, 0.287);
    transform: translateY(-7px);
}
form button{
    font-size: 1em;
    border-radius: 15px;
    width: 60vw;
    height: 4vh;
    color: #FFFFFF;
    margin: 2% 20%;
    background-color: #7DAF8A;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
}