<div id="leftFooter">
  <h1>MOLHEM</h1>
  <p>In our site you will see all the the things that will inspire you</p>
</div>

<div id="rightFooter">
  <h3>Quick Links</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/search/new">Search</a></li>
    <li><a href="/saved">Saved ideas</a></li>
    <li><a href="about.html">About us</a></li>
  </ul>
</div>

<div id="bottomFooter">
  Copyright &copy; Molhem 2020.
</div>


