<div id="leftFooter">
  <h1>MOLHEM</h1>
  <p>In our site you will see all the the things that will inspire you</p>
</div>

<div id="rightFooter">
  <h3>Contact us</h3>
  <ul>
    <li>XYZ, abc</li>
    <li>123456789</li>
    <li>xyz@gmail.com</li>
  </ul>
</div>

<div id="bottomFooter">
  Copyright &copy; Molhem 2020.
</div>