<div class="footer">
    <div class="inner-footer">
  
      <div class="footer-items">
        <h1 style="font-size: 30px;" >MOLHEM</h1>
        <br>
        <p>In our site you will see all the the things that will inspire you</p>
      </div>
  
      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> 
          <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Search</li></a>
            <a href="#"><li>Saved ideas</li></a>
            <a href="#"><li>About us</li></a>
          </ul>
      </div>
  
      <div class="footer-items">
        <h3>Categories</h3>
        <div class="border1"></div>  
          <ul>
            <a href="#"><li>Design</li></a>
            <a href="#"><li>Sports</li></a>
            <a href="#"><li>Nature</li></a>
            <a href="#"><li>Fashion</li></a>
          </ul>
      </div>
  
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
          </ul> 
        
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
    
    <div class="footer-bottom">
      Copyright &copy; Molhem 2020.
    </div>
  </div>   