<ul>
    <li><a href="index.ejs"><img src="../resources/logo.png" alt="Molhem logo"></a></li>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/search/new">Search</a></li>
        <li><a href="/saved">Saved ideas</a></li>
        <!-- <li><a href="">Ideas Board</a></li> -->
        <li><a href="">About us</a></li>
    </nav>
    <button id="hamburgerBtn"><img src="../resources/menuIcon.png" alt="menu icon"></button>
</ul>
<!-- Hamburger Menu For the mobile view -->
<div id="hamburgerMenu">
    <ul>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/search/new">Search</a></li>
            <li><a href="/saved">Saved ideas</a></li>
            <!-- <li><a href="">Ideas Board</a></li> -->
            <li><a href="">About us</a></li>
        </nav>
    </ul>
</div>